 <section class="icons">
        <div class="container">
          <h2 class="titleIcons">Icons</h2>
          <div class="wrapperIconsReviews">
            <svg class="iconUser" width="48" height="48">
              <use href="./img/icons.svg#icon-user"></use>
            </svg>
            <svg class="iconArrowRight" width="48" height="48">
              <use href="./img/icons.svg#icon-arrowRight"></use>
            </svg>
            <svg class="iconTelegram" width="48" height="48">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
            <svg class="iconFacebook" width="48" height="48">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
            <svg class="iconInstagram" width="48" height="48">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
            <svg class="iconTwitter" width="48" height="48">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
            <svg class="iconTwitter2" width="48" height="48">
              <use href="./img/icons.svg#icon-twitter2"></use>
            </svg>
            <svg class="iconClose" width="48" height="48">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
            <svg class="iconLinkedin" width="48" height="48">
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
            <svg class="iconBurgerMenu" width="48" height="48">
              <use href="./img/icons.svg#icon-burger-menu"></use>
            </svg>
            <svg class="iconStar" width="48" height="48">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="iconStar" width="48" height="48">
              <use href="./img/icons.svg#icon-star-fill"></use>
            </svg>
            <svg class="iconCamera" width="48" height="48">
              <use href="./img/icons.svg#icon-camera"></use>
            </svg>
            <svg class="iconPhone" width="48" height="48">
              <use href="./img/icons.svg#icon-phone"></use>
            </svg>
            <svg class="iconMail" width="48" height="48">
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>
            <svg class="iconCheckbox" width="48" height="48">
              <use href="./img/icons.svg#icon-checkbox"></use>
            </svg>
            <svg class="iconSend" width="48" height="48">
              <use href="./img/icons.svg#icon-send"></use>
            </svg>
            <svg class="iconClock" width="48" height="48">
              <use href="./img/icons.svg#icon-clock"></use>
            </svg>
          </div>
        </div>
      </section>