.titleIcons{
    font-size: 120px;
}

.wrapperIconsReviews{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.wrapperIconsReviews > svg{
    box-sizing: content-box;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}