*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
scroll-behavior: smooth; /* Для плавного скролла по якорям и по сайту */
}

h1, h2, h3, h4, h5, h6, p, a, ul { /* Убираем лишние отступы, как внутренние, так и внешние */
  margin: 0;
  padding: 0;
} 

ul, ol {
  list-style: none; /* Убираем базовые цифры и пометки списков */
}

a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

button {
  cursor: pointer; /* Добавляем палец при наведении на кнопку */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}