/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');

html{
  background-color: #121212;
  color: #fff;
}

.container{ /* Контейнер для моб. версии */
  max-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px){

  .container{ /* Контейнер для планшетной версии */
    max-width: 768px;
  }
}

@media (max-width: 1158px){

  .container{ /* Контейнер для комп. версии */
    max-width: 1158px;
  }
}