/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');

html{
  background-color: #121212;
}

.container{

  margin: 0 auto;
  padding: 0 15px;
}